<div class="span-24">
  <p id="notice"><%= notice %></p>

  <div class="span-17"> 

    <div id="videoDiv">
      <%= render 'youtube_player' %>
    </div>
  </div>

  <div class="span-7 last">
    <% if @video.tags.size > 0 %>
      <h2>tags</h2>
      <% for tag in @video.tags %>
        <p><%= wrap(tag.comment) %></p>
      <% end %>
    <% end %>
  </div>

  <div class="span-17" last>
    <%= render 'youtube_controls' %>
  </div>

  <div class="span-17" last>
    <%= render 'tags/form' %>
  </div>

</div>
