<div class="span-24">
  <p id="notice"><%= notice %></p>
</div>
<div class="span-24">

  <div class="span-17"> 

    <div id="videoDiv">
      <%= render 'youtube_player' %>
    </div>
      <%= render 'youtube_controls' %>
      <%= render 'youtube_stats' %>
      <%= render 'tags/form' %>
  </div>

  <div class="span-7 last">
    <h2 id="users_tags">Users Tags</h2>
    <% if @video.tags.size > 0 %>
      <% for @tag_enum in @video.tags.order_by(:time.desc) %>
        <%= render 'tags/tag' %>
      <% end %>
    <% end %>
  </div>

</div>

<script>
  $(document).ready(function() {
    adjustTagTimes();
  });

function adjustTagTimes() {
  $(".tag_time").each(function () {
      var time = parseFloat($(this).parent().data("tstamp"));
      if(time < 0) { time = 0; }
      $(this).text(frtToSt(time));
  });
}
</script>
