<div class="span-24">
  <p id="notice"><%= notice %></p>

  <div class="span-17"> 

    <div id="videoDiv">
      <%= render 'youtube_player' %>
    </div>
      <%= render 'youtube_controls' %>
      <%= render 'tags/form' %>
  </div>

  <div class="span-7 last">
    <h2>Users Tags</h2>
    <% if @video.tags.size > 0 %>
      <% for @tag_enum in @video.tags.order_by(:time.desc) %>
        <%= render 'tags/tag' %>
      <% end %>
    <% end %>
  </div>

</div>
