<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "StreamCritic" %></title>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'facebox' %>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->  
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <%= stylesheet_link_tag 'facebox', :media => 'screen' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'application', :media => 'screen' %>
    <%= stylesheet_link_tag 'tag', :media => 'screen' %>
    <%= stylesheet_link_tag 'youtube-jquery', :media => 'screen' %>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $('a[rel*=facebox]').facebox({
          loadingImage : '../images/loading.gif',
          closeImage   : '../images/closelabel.png'
        })
      })
    </script>
   <%= yield(:head) %>
  </head>
  <body>
    <div class="header_bg">
      <%= yield(:hlayout) %>
      <div class="container ">
        <div class="span-24">
          <div class="span-20">
            <a href="/" id="logo" title="StreamCritic Home">StreamCritic</a>
          </div>
          <div id="nav_menu" class="span-4 last prepend-top login">
            <%= render 'menu/nav_menu' %>
          </div>
        </div>
        <div class="span-24"> 
          <%= content_tag :h1, yield(:title) if show_title? %>
          <%= yield %>
        </div>
        <div class="span-24 prepend-top"> 
          <div class="globalfooter">
            <%= yield(:hlayout_footer_edit1) %>
            <hr>
            <%= render 'menu/footer' %>
            <%= yield(:hlayout_footer_edit2) %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>


